body{
  background-color: lightgrey;
}

.header{
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header h1{
  color: blue;
}

.header h2{
  color: lightblue;
}

.addNew{
  background: lightgrey;
  display: flex;
  justify-content: center;
  border: 2px solid black;
}

.addNew #input{
  margin: 10px;
  font-size: 20px;
}
#queuedStock{
  text-decoration: underline;
}

.portfolio{
  background-color: lightgrey;
  display: block;
  flex-wrap: wrap;
  width:100%
}

.portfolio ul{
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.card-container{
  display: flex;
}

/* .popular{
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popular ul{
  background-color: grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
} */

li{
  list-style-type: none;
}

.card{
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:10px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
  width:250px;
  height:auto;
}

.card h2{
  background-color: white;
  color:black;
  padding: 4px;
  border:1px solid grey;
  border-radius: 10px;
}

.confirmation-form {
  display: block;
}
